body {
  background-image: url("./img/1148255.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.cardButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.cardButton {
  border-color: transparent;
  border-radius: 10px;
  background-color: transparent;
  font-size: 17px;
  font-family: monospace;
  color: white;
}

.cardButton:hover {
  box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.486);
}

.Card {
  margin: 20px;
  padding: 5px;
  font-family: "Cascadia Code";
  font-size: 15px;
  color: white;
  border-radius: 10px;
  line-height: 8px;
  text-align: center;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.searchBarContainer {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.329);
  border-radius: 10px;
  height: 40px;
  z-index: 100;
}

.Cards {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Error404 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.form {
  text-align: center;
  font-family: "Cascadia Code";
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.774);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.formLabel {
  display: block;
  margin-bottom: 10px;
}

.formInput {
  display: block;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.438);
  padding: 10px;
  transition: background-color 0.6s ease;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  outline: none;
}

.formInput:hover {
  background-color: rgba(255, 255, 255, 0.712);
}

.submitButton {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.438);
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.6s ease;
  width: 100%;
}

.submitButton:hover {
  background-color: rgba(0, 0, 0, 0.616);
}
