.App {
  height: 100vh;
  background-image: url("./img/1148255.jpg");
  background-size: cover;
}

.searchBarContainer {
  text-align: right;
}

.Cards {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.Card {
  margin: 20px;
  padding: 5px;
  font-family: "Cascadia Code";
  font-size: 15px;
  color: white;
  line-height: 8px;
  text-align: center;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
